In [43]:
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
housing_data = pd.read_csv('DataSets/housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19014,-121.98,38.36,30.0,140.0,35.0,103.0,35.0,4.1630,112500.0,INLAND
12024,-117.46,33.94,26.0,2481.0,620.0,2411.0,552.0,1.7059,85800.0,INLAND
13080,-121.35,38.54,12.0,16239.0,3358.0,8656.0,3234.0,3.5691,116300.0,INLAND
19373,-120.90,37.81,27.0,4213.0,750.0,2142.0,746.0,3.7031,173300.0,INLAND
17886,-121.96,37.39,20.0,1032.0,229.0,658.0,238.0,4.5062,219300.0,<1H OCEAN

In [45]:
housing_data = housing_data.dropna()

In [46]:
housing_data.shape

(20433, 10)

In [47]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [48]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [49]:
housing_data.shape

(19475, 10)

In [50]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [51]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [52]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [53]:
housing_data.shape

(19475, 14)

In [54]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
3320,-122.83,38.99,15.0,289.0,49.0,191.0,54.0,1.6833,113900.0,0,1,0,0,0
4307,-118.31,34.09,30.0,3165.0,1263.0,3678.0,1141.0,2.0000,240600.0,1,0,0,0,0
9707,-121.65,36.67,52.0,2351.0,459.0,1169.0,439.0,2.8924,169600.0,1,0,0,0,0
8980,-118.41,34.00,46.0,105.0,20.0,69.0,19.0,3.9643,275000.0,1,0,0,0,0
13975,-116.76,34.23,10.0,4374.0,989.0,1020.0,376.0,2.6071,89000.0,0,1,0,0,0

In [55]:
median = housing_data['median_house_value'].median()
median

173800.0

In [56]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [57]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
13826,-117.18,34.48,8.0,3561.0,691.0,2156.0,659.0,2.7778,86900.0,0,1,0,0,0,False
8085,-118.20,33.81,45.0,944.0,178.0,533.0,193.0,3.4808,206900.0,0,0,0,0,1,True
7860,-118.13,33.90,36.0,1477.0,305.0,788.0,291.0,3.6250,195800.0,1,0,0,0,0,True
6069,-117.87,34.02,16.0,3552.0,575.0,2120.0,573.0,6.4333,271500.0,1,0,0,0,0,True
4876,-118.28,34.03,25.0,1407.0,550.0,1193.0,472.0,1.2989,225000.0,1,0,0,0,0,True

In [58]:
x = housing_data.drop(['median_house_value', 'above_median'], axis=1)
y = housing_data['above_median']

In [59]:
x.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [60]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [61]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [62]:
y_train.shape, y_test.shape

((15580,), (3895,))

In [63]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [64]:
print("Training_score : " , logistic_model.score(x_train, y_train))

Training_score :  0.8210526315789474

In [65]:
y_pred = logisctic_model.predict(x_test)

In [66]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})
df_pred_actual.head(10)

       predicted  actual
16178       True    True
14256      False   False
17416      False   False
1809        True   False
20499       True    True
1386        True    True
4135        True    True
9243       False   False
11159       True    True
20201       True    True

In [67]:
from sklearn.metrics import accuracy_score
print("Testing_score : ", accuracy_score(y_test, y_pred))

Testing_score :  0.8169448010269577